extends layout

block layout-content
  header
    h1 Express/Pug Template
    h3 Welcome to the home page!

  main
    div
      if isAuthenticated
        div
          a(href='/user') User profile
      else
        div#login
        div
          a(href='/fogin') Login with Auth0

block scripts
  script(type='text/javascript', src='/login.js')
