extends layout

block layout-content
  header
    h1 Express/Pug Template
    h3 Welcome to the home page!

  main
    div
      if isAuthenticated
        div
          a(href='/user') User profile
      else
        div
          a(href='/login') Log in
        div
          a(href='https://charmed.social/oauth/authorize') Get Code
        div
          a(href='/oauth/mastodon') My Masto
        div
          a(href='http://localhost:3000/oauth/authorize?client_id=YOUR_CLIENT_ID&redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=code') OMG
        div#login


block scripts
  script(type='text/javascript', src='/dumb.js')
