extends layout

block layout-content
  header
    h1 Login
    h3 An authentication method will likely use this page.

  main
    div
      a(href='/') Home

    div
      a(href='/user') User Profile
