extends layout

block layout-content
  header
    h1 User Profile
    h3 Welcome, #{user.nickname}
    img(alt='avatar' src=`${user.picture}`)

    pre=JSON.stringify(user,null,2)

  main
    div
      a(href='/') Home
